# dependencies
/node_modules
node_modules/

# environment variables
.env
.env.*

# build output
dist/
build/

# logs
*.log

# TypeScript cache
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db
/src/generated/prisma
